
body {
  background: #eeeeee;
  font-family: 'Source Sans Pro', sans-serif;
  background: #007CAA url("https://res.cloudinary.com/paul-ryan/image/upload/v1518723889/golf-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#smashout {
  background: #35B043;
  display: block;
  margin: 30px auto 0;
  border: 3px solid #000;
  border-radius: 3px;
}

#sidebar {
  font-size: 16px;
  width: 600px;
  margin: 5px auto 10px;
}

#sidebar button {
  font-size: 16px; 
}
