body {
  background: #eeeeee;
  font-family: 'Source Sans Pro', sans-serif;
  background: url("https://res.cloudinary.com/paul-ryan/image/upload/v1518723889/golf-small.jpg");
  background-size: cover;
}

#smashout {
  background: #35B043;
  display: block;
  margin: 30px auto 0;
  border: 3px solid #000;
  border-radius: 3px;
}

#sidebar {
  width: 600px; 
  margin: 5px auto;
}
